postgres-data/
venv/
Dockerfile
.gitignore
.dockerignore
.git/
.idea/
__pycache__/
.env
nginx
tests
*.yml
*.yaml
pytest.ini
requirements-dev.txt
tox.ini
README.md
todo.py
.pytest_cache
backup
.github
swagger
mypy.ini
#docker-compose*.*
.pre-commit-config.yaml
